{
  "extends": "airbnb-base",
  "rules": {
    "max-len": [2, {"code": 120 }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "semi": ["error", "never"],
    "func-names": ["error", "never"]
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
